:root{
   --purple:#8e44ad;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --yellow:#F5E216;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

body { 
  margin: 0;
  font-family: Cambria;
}

header {
  background: -webkit-linear-gradient(right,#FFFF00,#F5E216,#F5E216);
  padding: 20px;
  overflow: hidden;
  background-repeat: no-repeat;
}

header a {
  position: relative;
  color: dimgray;
  text-align: center;
  padding: 12px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 20px;
}

.header2 {
  font-family: "Cambria";
  float: right;
  margin: 0;
}

.header2 a {
  font-family: "Cambria";
}

header a.logo {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  font-family: "Cambria";
}

header a:hover {
  background-color: gray;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s;
}

h1 {
  color: whitesmoke;
  font-size: 16px;
}

.container {
  background-color: rgb(191, 191, 189, .5);
}

header a{
  font-weight: bold;
  font-family: "Arial";
}

section{
   padding:3rem 2rem;
}

.btn,
.option-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
}

.on {
  background-color: gray;
  color: whitesmoke;
}

.containers {
  background: #52595D;
}

.box .btn {
  font-family: "Cambria";
  font-size: 21px;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.white-btn,
.btn{
   background-color: #7E7C7C;
}

.white-btn:hover{
   background-color: var(--white);
   color:var(--black);
}

.title{
   text-align: center;
   margin-bottom: 4rem;
   text-transform: uppercase;
   color:var(--white);
   font-size: 4rem;
}

.next {
  text-decoration: none;
  float: right;
  font-size: 20px;
  background-color: var(--black);
  color: whitesmoke;
  border-radius: 50px 50px;
  padding: 10px 16px;
  font-family: "Cambria";
}

.white h1 {
  color: whitesmoke;
  font-size: 16px;
}

.products .box-container{
   max-width: 1600px;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   gap:2.5rem;
   justify-content: center;
}

.products .box-container .box{
   border-radius: .5rem;
   background-color: var(--black);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   border:var(--border);
   position: relative;
}

.products .box-container .box .image{
   height: 20rem;
}

.products .box-container .box .name{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--white);
}

.products .box-container .box .qty{
   width: 42%;
   padding:1.0rem 1.0rem;
   border-radius: .5rem;
   border:var(--border);
   margin:1rem 0;
   font-size: 1rem;
}

.products .box-container .box .price{
   position: absolute;
   top:1rem;
   border-radius: .5rem;
   padding: 15px;
   font-size: 1.5rem;
   color:var(--white);
   background-color: #27AE60;
   right: 1.2rem;
}

.search {
  padding: 15px 0;
  text-align: center;
}

.search input[type=text] {
  margin-top: 40px;
  padding: 10.5px;
  width: 50%;
}

.search input[type=submit] {
  padding: 10px 15px;
  background-color: #7E7C7C;
  color: #FFFFFF;
  font-family: "Cambria";
  font-size: 16px;
  border-color: 1px solid yellow;
  cursor: pointer;
}

.shopping-cart .box-container{
   max-width: 1600px;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   gap:2.5rem;
   justify-content: center;
}

.shopping-cart .box-container .box{
   border-radius: .5rem;
   background-color: var(--black);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   border:var(--border);
   position: relative;
}

.shopping-cart .box-container .box .image{
   height: 20rem;
}

.shopping-cart .box-container .box .name{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--white);
}

.shopping-cart .box-container .box .qty{
   width: 42%;
   padding:1.0rem 1.0rem;
   border-radius: .5rem;
   border:var(--border);
   margin:1rem 0;
   font-size: 1rem;
}

.shopping-cart .box-container .box .fa-times{
   position: absolute;
   top: 10px;
   right:1rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   font-size: 2rem;
   background-color: #27AE60;
   color:var(--black);
   border-radius: .4rem;
}

.shopping-cart .box-container .box input[type="number"]{
   margin:.8rem 0;
   border:var(--border);
   border-radius: .5rem;
   padding:1.2rem 0.7rem;
   font-size: 2rem;
   color:var(--black);
   width: 12rem;
}


.shopping-cart .box-container .box .sub-total{
   padding-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.shopping-cart {
  background-color: #52595D;
}

.shopping-cart .box-container .box .sub-total span{
   color:var(--red);
}

.shopping-cart .cart-total{
   max-width: 1200px;
   margin:0 auto;
   border:var(--border);
   padding:2rem;
   text-align: center;
   margin-top: 2rem;
   border-radius: .5rem;
}

.shopping-cart .cart-total p{
   font-size: 2.5rem;
   color:var(--light-color);
}

.shopping-cart .cart-total p span{
   color:var(--red);
}

.shopping-cart .cart-total .flex{
   display: flex;
   flex-wrap: wrap;
   column-gap:1rem;
   margin-top: 1.5rem;
   justify-content: center;
}

.shopping-cart .disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
}

.form-row .col1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.col1 p {
  width: 100%;
}

.col1 button {
  width: 20%;
  padding: 10px;
  background-color: #27AE60;
}

footer {
  padding: 35px;
  background: -webkit-linear-gradient(right,#FFFF00,#F5E216,#F5E216);
  display: flex;
  justify-content: center;
}